<main class="container">
  <div class="controls">
    <input [(ngModel)]="text" class="input-field" placeholder="Search tickets..." type="text"/>
    <select (change)="changeCategory($event)" class="input-field">
      @for (item of store.categories(); track item.value) {
        <option [value]="item.value">{{item?.name}}</option>
      }
    </select>
  </div>

  <div class="ticket-list">
    @for (ticket of store.filteredTickets(); track ticket.id) {
      <div class="ticket-card" [routerLink]="['/ticket', ticket.id]">
        <div class="ticket-image-container">
          <img [src]="ticket.imageUrl" [alt]="ticket.title" class="ticket-image"/>
        </div>
        <div class="ticket-info">
          <h3>{{ ticket.title }}</h3>
          <p class="description">{{ ticket.description }}</p>
          <div class="meta">
            <span>📅 {{ ticket.date }}</span>
            <span>📍 {{ ticket.place }}</span>
          </div>
        </div>
      </div>
    }
    @if (!store.filteredTickets().length) {
      No Events
    }
  </div>
</main>
